{% extends "base.html" %}

{% block title %}
Players
{% endblock %}

{% block header %}
<h2>Players</h2>
{% endblock %}

{% block content %}

<div id="data_table">
<table>
<tr>
  <th>Date</th>
  <th>Order</th>
  <th>Bounty</th>
  <th>High Hand</th>
  <th>Bad Beat</th>
  <th>Place</th>
  <th>Total</th>
</tr>
{% for d in data %}
<tr class="{% cycle odd,even %}">
  <td><a href="/tournaments?id={{ d.tournament.key.id }}">{{ d.tournament.date }}</a></td>
  <td class="data_td">{{ d.signout_order }}</td>
  <td class="data_td">{% if d.bounty %}5{% endif %}</td>
  <td class="data_td">{% if d.highhand %}5{% endif %}</td>
  <td class="data_td">{% if d.badbeat %}5{% endif %}</td>
  <td>
  {% ifequal d.place 1 %}5 (1st){% endifequal %}
  {% ifequal d.place 2 %}3 (2nd){% endifequal %}
  {% ifequal d.place 3 %}2 (3rd){% endifequal %}
  {% ifequal d.place 4 %}1 (4th){% endifequal %}
  </td>
  <td>{{ d.points }}</td>
</tr>
{% endfor %}
</table>
</div>

<script type="text/javascript">
  $("#data_table").corner("round 10px");
</script>

<div id="data_selector">
<ul>
{% for p in players %}
  <li>
    <div id="Player{{ p.id }}"  
    {% ifequal p.id player.id %}class="selected"{% endifequal %}>
    <div class="data_selection">
    <span class="points">({{ p.points }})</span>
    {% ifequal p.id player.id %}
    {{ p.name }}
    {% else %}
    <a href="/players?id={{ p.id }}">{{ p.name }}</a>
    {% endifequal %}
    </div>
    </div>
  </li>
  <script type="text/javascript">
    $("#Player{{ p.id }}").corner("round 5px");
  </script>
{% endfor %}
</ul>
</div>

{% endblock %}

