{% extends "base.html" %}

{% block title %}
Rules
{% endblock %}

{% block header %}
<h2>Rules</h2>
{% endblock %}

{% block content %}
<!--<div class="rounded_border" style="margin-left: 50px;">-->
<div id="rule_list" class="rounded" style="margin-left:50px; height: 470px;">

<h3>Tournaments</h3>
<ul>
  <li>$25 for 4000 in chips</li>
  <li>Substitute players allowed</li>
  <li>Blinds are posted for 1 hour on late players</li>
  <li>No Rebuys</li>
  <li>Mucked cards are dead</li>
  <li>Show 1, show all</li>
  <li>No assistance from other players</li>
  <li>No chopping of points, only money</li>
  <li>No weapons allowed</li>
</ul>


<h3>Payouts (based on number of players)</h3>
<ul>
  <li>18 or less - 3 positions</li>
  <li>19-24 - 4 positions</li>
  <li>25-30 - 5 positions</li>
</ul>

<h3>Year end tournament</h3>
<p>10,000 in chips for league winner.  Each lower place gets 250 chips less. Top 50% of the league (and ties) get into the year end tournament. </p>
</div>
{% endblock %}
